<form class="bookmark-add-form" hide>
  <input class="bookmark-title" type="text" value="title">
  <input class="bookmark-url" type="text" value="url">
  <input class="cancel-edit" type="reset" value="cancel">
  <input type="submit" value="save">
</form>

<button class="add-bookmark" name="add-bookmark">New</button>
