<p>{{title}} - {{url}}</p>
<button class="bookmark-edit-button">edit</button>

<form class="bookmark-edit-form">
  <input class="bookmark-title" type="text" value={{title}}>
  <input class="bookmark-url" type="text" value={{url}}>
  <input type="reset" value="cancel">
  <input type="submit" value="save">
</form>
